*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B91450;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hidden{
    opacity: 0;
}
.container{
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
}

.container h1,
.row h2{
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.cta{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 black;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.cta h3,
.row h2{
    padding-bottom: 5px;
}

.row button{
    margin: 10px 20px;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

input {
    height: 20px;
    border-radius: 5px;
    border: 1px solid #B91350;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}


input::placeholder{
    padding: 20px;
}

select {
    height: 20px;
    border: 1px solid #B91350;
    font-size: 16px;
    border-radius: 5px;
    color: #75758B;
}

input:focus,
select:focus{
    color: white;
    background-color: #B91350;
}

.bottone{
    background-color: lightgrey;
    color: #B91350;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
     cursor: pointer;
}

.bottone:hover {
    color: white;
    background-color: grey;
}

#biglietto{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 black;
}

#biglietto h3,
#biglietto h4{
    text-transform: uppercase;
}

.row h2{
    margin-top: 30px;
}

#info-biglietto{
    display: flex;
}

.viaggiatore{
    background-color: lightgray;
    padding: 30px 20px 0 20px;
}

.viaggiatore h4{
    padding-top: 5px;
}

table th, td{
    padding: 30px;
    text-align: left;
}


